* {
    margin: 0;
    padding: 0;
}



body {
    background-color: rgb(231, 231, 231);
}

.navbar {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    background-color: rgb(52, 51, 51);
    position: fixed;
    z-index: 1000;
    align-items: center
}

.navbar img {
    filter: invert(100%);
    width: 40px;
    height: 50px;
    margin-left: 3%;
    display: inline-block;
    color: aliceblue;
}

.links-nav {
    margin-right: 3%;
    flex-direction: column-reverse;
    display: inline-block;
    width: 40%;
    font-size: 24px;
    align-self: center;

}

.navbar a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.navbar ul :hover {
    background-color: rgb(84, 84, 84);

    margin-left: 5px;
    margin-right: 5px;
    transition: 90ms;
    border-radius: 5px;
}

.navbar ul {

    display: flex;
    list-style: none;
    justify-content: space-around;

}

.welcome-camp {
    height: 890px;
    width: 1650px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    transition: 300ms;

}

.italic {
    font-style: italic;
}

.text-camp-welcome p {
    margin-left: 3%;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-camp-welcome h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 5%;
    font-size: 120px;
    margin-left: 3%;
}

.text-camp-welcome {
    margin-top: 8vh;
    width: 50%;
    display: inline-block;

}

.img-welcome {
    display: inline-block;
    width: 50%;
    margin-top: 8vh;
}


.img-welcome img {
    object-fit: cover;
    width: 100%;
    height: 750px;
    border-radius: 10px;
}

.contacts {
    margin-left: 3%;
    display: flex;
    justify-content: space-around;
}

.contacts img {
    width: 70px;
}

.contacts a :hover {
    opacity: 50%;
}

.inv-text-camp {
    margin-top: 8vh;
    width: 3%;
    height: 100px;
}

.line-welcome {
    background-color: black;
    width: 6px;
    height: 760px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
}

.button {
    transition: width 500ms ease;
    display: inline-block;
    width: 280px;
    height: 50px;
    background-color: black;
    border-style: none;
    border-radius: 10px;
    margin-left: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.button p {
    font-size: 200%;
}



.button:hover {
    width: 400px;
    transition: 500ms;
}


.text-camp-welcome a {
    color: aliceblue;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.invi {
    width: 100%;
    height: 6vh;
}

.contact-end {
    margin: auto;
    width: 80%;
    height: 350px;
    display: flex;
}

.text-end {
    width: 80%;
    margin: auto;
}

.text-end p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1%;
    text-align: center;
    font-size: 14px;
}

.about-camp {
    height: auto;
    width: 1650px;
    ;
    margin: auto;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    transition: 300ms;
}

.img-about {
    display: inline-block;
    width: 50%;
    height: auto;
    margin-top: 8vh;
}


.img-about img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-camp-about {
    margin-top: 8vh;
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: end;
}

.text-camp-about p {
    font-size: 20px;
    margin-right: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-camp-about h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 5%;
    font-size: 120px;
}

.line-about {
    margin-top: 8vh;
    background-color: black;
    width: 6px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
}

.inv-about-camp {
    margin-top: 8vh;
    width: 3%;
    height: 100px;

}

.img-camp-about {
    width: 100%;
    height: 100px;
    display: none;
    object-fit: cover;
    margin-left: 2%;
    margin-right: 1%;
}



/* --------------------------------INFACIA--------------------------------------*/


.infacy-camp {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 1650px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    transition: 300ms;
}

.backgroud-infacy {
    background-color: black;
    height: auto;
}

.img-infacy {
    display: inline-block;
    width: 50%;
    height: 80vh;
}

.inv-infacy-camp {

    width: 3%;
    height: 100px;

}

.img-infacy img {
    object-fit: cover;
    width: 100%;
    height: 750px;
    border-radius: 10px;
}

.infacy-text-camp {
    width: 50%;
    height: auto;
    display: inline-block;
}

.infacy-text-camp p {
    color: rgb(216, 219, 223);
    font-size: 20px;
    margin-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infacy-text-camp h1 {
    color: rgb(216, 219, 223);
    ;
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120px;
}

.line-infacy {
    background-color: rgb(216, 219, 223);
    width: 6px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
}

.intro-camp {
    height: auto;
    width: 1650px;
    margin: auto;
    transition: 300ms;
}

.intro-camp h1 {
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-camp h3 {
    font-size: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-camp p {
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards-camp-hardskills {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.html,
.css,
.mysql,
.nodejs,
.python {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);

}





.cards-camp-softkills {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.proactive-card {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.creatividy-card {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.organization-card {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.sociability-card {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}









.bck {
    background-color: black;
    padding-bottom: 6%;
    padding-top: 3%;
}

.add-skills {
    background-color: black;
    height: auto;
    width: 1650px;
    margin: auto;
    text-align: center;
}

.add-skills h3 {
    color: rgb(224, 224, 224);
    font-size: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.add-skills p {
    color: rgb(224, 224, 224);
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.imagem1,
.imagem2,
.imagem3,
.imagem4,
.imagem5,
.imagem6 {
    width: 480px;
    height: 500px;
    transition: transform .5s ease;
    object-fit: cover;
    border-radius: 10px;
}

.imagem1:hover,
.imagem2:hover,
.imagem3:hover,
.imagem4:hover,
.imagem5:hover,
.imagem6:hover {
    filter: opacity(80%);
    transform: scale(1.1);
}


.pc-formater {
    list-style: none;
    display: flex;
    justify-content: space-around;

}


.projects {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 1650px;
    height: auto;
    margin: auto;
    transition: 300ms;
}

.text-projects p{
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text-projects h1{
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.line-delux {
    width: 11px;
    background-color: black;
    height: auto;
    margin-right: 1%;
    border-radius: 20px;
}

.line-cad {
    width: 6px;
    background-color: black;
    height: auto;
    margin-right: 1%;
    border-radius: 20px;
}

.delux {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}

.delux-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delux-text p {
    font-size: 20px;
}

.delux-text h4 {
    font-size: 40px;
}

video {
    width: 60%;
}




.contact-end {
    margin: auto;
    width: 80%;
    height: 350px;
    display: flex;
}

.text-end {
    width: 80%;
    margin: auto;
}

.text-end p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1%;
    text-align: center;
    font-size: 14px;
}

.linha {
    width: 80%;
}

.contacts-number {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacts-number a {
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}

.contacts-insta a {
    color: aliceblue;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.contacts-insta a:hover {
    opacity: 50%;
    transition: 100ms;
}

.contacts-number a:hover {
    opacity: 50%;
    transition: 100ms;
}




.contacts-insta {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
}

.contacts-linkedin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
}




@media (width < 1660px) {
    * {
        transition: 300ms;
    }

    .infacy-camp, .about-camp {
        width: 90%;
        transition: 300ms;
    }

    .infacy-text-camp p {
        font-size: 19px;
        transition: 300ms;
    }

    .intro-camp, .add-skills, .projects {
        width: 98%;
    }


    .html,
    .mysql,
    .css,
    .nodejs,
    .mysql,
    .python {
        width: 15%;
    }

    .creatividy-card,
    .proactive-card,
    .organization-card,
    .sociability-card {
        width: 13%;
    }


    .infacy-text-camp h1 {
        font-size: 100px;
        transition: 300ms;
    }

    .about-camp {
        width: 95%;
        transition: 300ms;
    }


    .infacy-text-camp {
        transition: 300ms;
    }

    .infacy-text-camp p {
        font-size: 21px;
        transition: 300ms;
    }


    .text-camp-about p {
        font-size: 21px;
        transition: 300ms;
    }

    .infacy-text-camp h1 {
        font-size: 60px;
        transition: 300ms;
    }

    .text-camp-about h1 {
        font-size: 60px;
        transition: 300ms;
    }

    .links-nav {
        width: 50%;
        transition: 300ms;
    }

    .welcome-camp {
        width: 90%;
        transition: 300ms;
    }

    .button {
        width: 300px;
    }
}

@media (width < 1010px) {
    .infacy-text-camp p {
        font-size: 18px;
    }



    .text-camp-about p {
        font-size: 18px;
    }

    .text-camp-about p {
        font-size: 18px;
    }

}

@media(width < 1470px) {

    .imagem1,
    .imagem2,
    .imagem3,
    .imagem4,
    .imagem5,
    .imagem6 {
        width: 380px;
    }

}



@media (width < 1300px) {
    .links-nav {
        width: 65%;
        transition: 300ms;
    }

    .text-camp-welcome h1 {
        font-size: 100px;
    }

    .imagem1,
    .imagem2,
    .imagem3,
    .imagem4,
    .imagem5,
    .imagem6 {
        width: 300px;
    }

    .creatividy-card,
    .proactive-card,
    .organization-card,
    .sociability-card {
        width: 21%;
    }

    .img-about {
        height: 1200px;
    }

    .img-about img{
        height: 1200px;
    }

    .contacts img {
        width: 80%;
        height: auto;
    }
}

@media (width < 900px) {
    .navbar img {
        display: none;
    }

    .about-camp {
        width: 95%;
        transition: 300ms;
    }

    .imagem1:hover,
    .imagem2:hover,
    .imagem3:hover,
    .imagem4:hover,
    .imagem5:hover,
    .imagem6:hover {
        transform: scale(1);
        filter: opacity(100%);
    }



    .imagem1,
    .imagem2,
    .imagem3,
    .imagem4,
    .imagem5,
    .imagem6 {
        width: 90%;
    }

    .add-skills ul {
        flex-direction: column;
    }



    .cards-camp-softkills,
    .cards-camp-hardskills {

        flex-direction: column;
        height: 840px;
    }


    .intro-camp h1 {
        font-size: 74px;
    }

    .html,
    .mysql,
    .css,
    .nodejs,
    .mysql,
    .python {
        width: 100%;
        margin-bottom: 1%;
    }


    .creatividy-card,
    .proactive-card,
    .organization-card,
    .sociability-card {
        width: 100%;
    }


    .text-camp-about p {
        font-size: 16px;
    }

    .text-camp-welcome h1 {
        font-size: 80px;
    }

    .welcome-camp {
        width: 90%;
        transition: 300ms;
    }


    .contact-end {
        flex-direction: column;
    }

    .contacts-insta {
        width: 80%;
        margin-bottom: 1%;
    }

    .contacts-number {
        width: 80%;
        margin-bottom: 1%;
    }

    .contacts-linkedin {
        width: 80%;
        margin-bottom: 1%;
    }

    .button {
        width: 150px;
        height: 100px;
    }

    .button:hover {
        width: 200px;
        transition: 100ms;
    }

    .links-nav {
        width: 100%;
        font-size: 100%;
        justify-content: space-around;
    }
}

@media (width < 860px) {
    .text-camp-about p {
        font-size: 18px;
    }


    .delux{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    video{
        width: 96%;
    }

    .text-camp-welcome h1 {
        font-size: 4rem;
    }


    .infacy-text-camp p {
        font-size: 17px;
    }
}

@media (width < 760px) {

    .text-camp-about p {
        font-size: 16px;
    }

    .infacy-text-camp p {
        font-size: 16px;
    }

    .infacy-text-camp h1 {
        font-size: 50px;
    }
}

@media (width < 600px) {

    .infacy-text-camp p{
        text-align: center;
    }

    .img-infacy {
        display: none;
    }

    .line-infacy {
        display: none;
    }




    .inv-infacy-camp {
        display: none;
    }
    .infacy-camp{
        padding-bottom: 1%;
    }
    .backgroud-infacy{
        padding-bottom: 1%;
    }

    .infacy-camp {
        margin-top: 50%;

    }



    .img-about {
        display: none;
    }

    .img-camp-about {
        display: block;

    }

    .inv-about-camp {
        display: none;
    }



    .about-camp {
        width: 97%;
        transition: 300ms;
        padding-top: 0px;
    }





    .text-camp-about {
        width: 100%;
        display: block;
    }

    .text-camp-about p {
        font-size: 22px;
        margin-left: 3%;
    }

    .text-camp-about h1 {
        font-size: 60px;
        margin-left: 3%;
    }


    .text-camp-welcome {
        width: 90%;
    }

    .img-welcome {
        display: none;
    }

    .text-camp-welcome {
        height: 60vh;
        width: 100%;
    }

    .welcome-camp {
        width: 97%;
        transition: 300ms;
    }

    .links-nav {
        width: 100%;
    }

    .navbar img {
        display: none;
    }

    .links-nav {
        font-size: 90%;
        justify-content: space-around;
    }
}
